
.quiqqer-slider-imageDataList {
    background: #fff;
    border: 2px solid #dedede;
    border-radius: 3px;
    float: left;
    height: 200px;
    width: 100%;
}

.quiqqer-slider-imageDataList-container {
    float: left;
    height: calc(100% - 30px);
    overflow: auto;
    padding: 10px;
    width: 100%;
}

.quiqqer-slider-imageDataList-buttons {
    float: left;
    height: 30px;
    width: 100%;
}

/** Image Entry
 ======================================================== */

.quiqqer-slider-imageDataList-entry {
    border-bottom: 1px solid #ddd;
    clear: both;
    float: left;
    padding: 10px 0;
    position: relative;
    width: 100%;
}

.quiqqer-slider-imageDataList-entry-image {
    float: left;
    height: 40px;
    text-align: center;
    width: 80px;
}

.quiqqer-slider-imageDataList-entry-image img {
    max-width: 40px;
    max-height: 40px;
}

.quiqqer-slider-imageDataList-entry-link,
.quiqqer-slider-imageDataList-entry-text {
    float: left;
    line-height: 40px;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
    width: calc( (100% - 80px) / 2 );
    white-space: nowrap;
}

.quiqqer-slider-imageDataList-entry-edit {
    float: left;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 15px;
    transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
}

.quiqqer-slider-imageDataList-entry button {
    margin-left: 10px;
}

.quiqqer-slider-imageDataList-entry:hover .quiqqer-slider-imageDataList-entry-edit {
    opacity: 1;
    transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
}

.quiqqer-slider-imageDataList-entry:hover .quiqqer-slider-imageDataList-entry-link,
.quiqqer-slider-imageDataList-entry:hover .quiqqer-slider-imageDataList-entry-text {
    opacity: 0.2;
    transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
}



/** Image edit
 ======================================================== */

.imageDataList {
    margin: 0 auto;
    max-width: 340px;
}

.imageDataList-edit-preview {
    background: #eee;
    height: 150px;
    margin: 0 0 20px;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.imageDataList-edit-preview img {
    max-height: 100%;
    max-width: 100%;
}

.imageDataList .qui-controls-project-site-input,
.imageDataList .qui-controls-project-media-input {
    float: left;
}

.imageDataList-edit-entry {
    clear: both;
    float: left;
    margin-bottom: 10px;
}

.imageDataList-edit-entry label {
    float: left;
    line-height: 30px;
    width: 70px;
}